go 1.23.3

use (
	./
	./gateway
	./pkg
	./protos
	./services/auth-service
	./services/department-service
	./services/role-service
	./services/room-service
	./services/tenant-service
	./services/user-service
)
